/* Table styles */
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,600');
body
{
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  font-size: medium;
  background-color: #adaeb0;
  transition: background-color 1s ease-in-out;
  animation: color-transition 10s infinite;
}

body{
	background: linear-gradient(135deg, #f9c74f, #fcaf17, #8ab6d6, #05668d);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}






table {
  border-collapse: collapse;
  width: 75%;
  margin-bottom: 1rem;
  
  border: 1px solid #928f8f;

}


table th,
table td {
  padding: 1rem;
  text-align: left;
  background: linear-gradient(135deg, #f9c74f, #fcaf17);
  
}

table th {
  text-align: left;
  font-weight: lighter;
  color: rgb(233, 12, 12);
  background-color: #f8f9fa;
  border-color: #dee2e6;
}

table tr:nth-child(even) {
  background-color: #8c8d8f;
}
table tr:nth-child(odd) {
  background-color: #c8c8ca;
}

table tr:hover {
  background-color: #cedae7;
  color: #333;
}

table td:last-child,
table th:last-child {
  text-align: center;
}
/* Input box styles */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"],
input[type="password"],
textarea {
  border: 1px #ccc;
  border-style: groove;
  background-color: #ccc;
  border-radius: 5px;
  padding: 5px;
  font-size: 15px;
  margin-bottom: 7px;
}

input[type="text"]:focus
textarea:focus {
  border-color: #6c7885;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

input[type="submit"]{
  font-weight: bold;
  background:#097dea;
  font-size: medium;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto', sans-serif;
  background: transparent;
  
}
button
{
  font-weight: bold;
  background:#097dea;
  font-size: medium;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto', sans-serif;
  background: transparent;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


input[type="submit"]:hover,button:hover{
  background-color: #000000;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-delay: 0  s;
  animation-fill-mode: forwards;
}

input[type="submit"]:hover,
button:hover {
  background:#0982f4;
  background:linear-gradient(65deg, #e89229 0, #f4861f 100%)
}




